[submodule "vendor/spack"]
	path = vendor/spack
	url = https://github.com/spack/spack.git
[submodule "vendor/spack-packages"]
	path = vendor/spack-packages
	url = https://github.com/spack/spack-packages.git
[submodule "vendor/lfric_apps"]
	path = vendor/lfric_apps
	url = https://github.com/MetOffice/lfric_apps.git
[submodule "vendor/lfric_core"]
	path = vendor/lfric_core
	url = https://github.com/MetOffice/lfric_core.git
[submodule "vendor/mo-spack-packages"]
	path = vendor/mo-spack-packages
	url = git@github.com:MetOffice/mo-spack-packages.git
[submodule "vendor/physics/casim"]
	path = vendor/physics/casim
	url = https://github.com/MetOffice/casim.git
[submodule "vendor/physics/jules"]
	path = vendor/physics/jules
	url = https://github.com/MetOffice/jules.git
[submodule "vendor/physics/socrates"]
	path = vendor/physics/socrates
	url = https://github.com/MetOffice/socrates.git
[submodule "vendor/physics/ukca"]
	path = vendor/physics/ukca
	url = https://github.com/MetOffice/ukca.git
